fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

input, button {
  padding: 5px 10px;
  border: 1px solid transparent;
  text-align: center;
  
}

.headerInput{
  width: 100%;
}

input:focus{
  border: 1px solid darkgreen;
}


label {
  margin: 0 10px 5px 0;
  padding: 10px 0;
  line-height: 1;
}

button {
  background: darkgreen;
  color: white;
  transition: all .2s ease-in-out;
}

.formSubmit:hover,
.formSubmit:focus {
  background: rgb(255, 0, 0);
}